In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/Users/howsang/Documents/004.Project/patients_daily_issue.csv')
df.head(2)

,sido,createDate,sidoCd,weekendYN,minTa,maxTa,meanTa,gapTa,minTatm,maxTatm,...,fourMaxta1,fourMeanta1,fourMinta2,fourMaxta2,fourMeanta2,fourMinta3,fourMaxta3,fourMeanta3,patientsCnt,instDate
0,제주특별자치도,2020-08-19,39,0,25.8,32.8,28.9,7.0,28.79,34.57,...,32.0,29.56,30.3,32.8,31.20,27.0,30.4,28.15,2,2024-07-22
1,강원특별자치도,2020-08-19,32,0,27.9,35.7,31.1,7.8,29.04,35.30,...,35.7,31.41,33.6,35.7,34.66,29.4,34.4,30.73,2,2024-07-22